# coding: utf-8

"""
    Freeplay API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from freeplay_mcp.vendor.swagger_client.api_client import ApiClient


class PromptTemplatesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_delete_prompt_template(self, project_id, template_id, **kwargs):  # noqa: E501
        """Delete prompt template  # noqa: E501

         Archive a prompt template and all its versions. Use when retiring templates that are no longer needed. This is a soft delete.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_delete_prompt_template(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_delete_prompt_template_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_delete_prompt_template_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
            return data

    def delete_delete_prompt_template_with_http_info(self, project_id, template_id, **kwargs):  # noqa: E501
        """Delete prompt template  # noqa: E501

         Archive a prompt template and all its versions. Use when retiring templates that are no longer needed. This is a soft delete.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_delete_prompt_template_with_http_info(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_delete_prompt_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `delete_delete_prompt_template`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `delete_delete_prompt_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_delete_template_version(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Delete prompt template version  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_delete_template_version(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_delete_template_version_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_delete_template_version_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
            return data

    def delete_delete_template_version_with_http_info(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Delete prompt template version  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_delete_template_version_with_http_info(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'version_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_delete_template_version" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `delete_delete_template_version`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `delete_delete_template_version`")  # noqa: E501
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params or
                params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `delete_delete_template_version`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501
        if 'version_id' in params:
            path_params['version_id'] = params['version_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}/versions/{version_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_get_all_by_environment(self, project_id, environment, **kwargs):  # noqa: E501
        """Get all prompt templates by environment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_all_by_environment(project_id, environment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object environment: (required)
        :return: PromptTemplatesByEnvironmentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_get_all_by_environment_with_http_info(project_id, environment, **kwargs)  # noqa: E501
        else:
            (data) = self.get_get_all_by_environment_with_http_info(project_id, environment, **kwargs)  # noqa: E501
            return data

    def get_get_all_by_environment_with_http_info(self, project_id, environment, **kwargs):  # noqa: E501
        """Get all prompt templates by environment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_all_by_environment_with_http_info(project_id, environment, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object environment: (required)
        :return: PromptTemplatesByEnvironmentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'environment']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_get_all_by_environment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_get_all_by_environment`")  # noqa: E501
        # verify the required parameter 'environment' is set
        if ('environment' not in params or
                params['environment'] is None):
            raise ValueError("Missing the required parameter `environment` when calling `get_get_all_by_environment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'environment' in params:
            path_params['environment'] = params['environment']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/all/{environment}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PromptTemplatesByEnvironmentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_get_by_name_and_environment(self, project_id, name, **kwargs):  # noqa: E501
        """Get prompt template by name and environment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_by_name_and_environment(project_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object name: (required)
        :param object environment:
        :param object format:
        :param object flavor_name:
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_get_by_name_and_environment_with_http_info(project_id, name, **kwargs)  # noqa: E501
        else:
            (data) = self.get_get_by_name_and_environment_with_http_info(project_id, name, **kwargs)  # noqa: E501
            return data

    def get_get_by_name_and_environment_with_http_info(self, project_id, name, **kwargs):  # noqa: E501
        """Get prompt template by name and environment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_by_name_and_environment_with_http_info(project_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object name: (required)
        :param object environment:
        :param object format:
        :param object flavor_name:
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'name', 'environment', 'format', 'flavor_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_get_by_name_and_environment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_get_by_name_and_environment`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `get_get_by_name_and_environment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'flavor_name' in params:
            query_params.append(('flavor_name', params['flavor_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/name/{name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlainPromptTemplate1',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_get_by_template_version_id(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Get prompt template version by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_by_template_version_id(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_get_by_template_version_id_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_get_by_template_version_id_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
            return data

    def get_get_by_template_version_id_with_http_info(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Get prompt template version by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_by_template_version_id_with_http_info(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'version_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_get_by_template_version_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_get_by_template_version_id`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `get_get_by_template_version_id`")  # noqa: E501
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params or
                params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `get_get_by_template_version_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501
        if 'version_id' in params:
            path_params['version_id'] = params['version_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}/versions/{version_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlainPromptTemplate1',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_get_prompt_template(self, project_id, template_id, **kwargs):  # noqa: E501
        """Get prompt template  # noqa: E501

         Retrieve a prompt template's metadata by ID. Use to check if a template exists or get its latest version ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_prompt_template(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :return: PromptTemplateInfo1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_get_prompt_template_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_get_prompt_template_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
            return data

    def get_get_prompt_template_with_http_info(self, project_id, template_id, **kwargs):  # noqa: E501
        """Get prompt template  # noqa: E501

         Retrieve a prompt template's metadata by ID. Use to check if a template exists or get its latest version ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_prompt_template_with_http_info(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :return: PromptTemplateInfo1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_get_prompt_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_get_prompt_template`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `get_get_prompt_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PromptTemplateInfo1',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_list_prompt_template_versions(self, project_id, template_id, **kwargs):  # noqa: E501
        """List prompt template versions  # noqa: E501

         Retrieve all versions of a prompt template. Use to view version history or compare changes over time.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_prompt_template_versions(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object page:
        :param object page_size:
        :param object from_version:
        :return: PromptTemplateVersionListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_list_prompt_template_versions_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_list_prompt_template_versions_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
            return data

    def get_list_prompt_template_versions_with_http_info(self, project_id, template_id, **kwargs):  # noqa: E501
        """List prompt template versions  # noqa: E501

         Retrieve all versions of a prompt template. Use to view version history or compare changes over time.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_prompt_template_versions_with_http_info(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object page:
        :param object page_size:
        :param object from_version:
        :return: PromptTemplateVersionListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'page', 'page_size', 'from_version']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_list_prompt_template_versions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_list_prompt_template_versions`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `get_list_prompt_template_versions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'from_version' in params:
            query_params.append(('from_version', params['from_version']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}/versions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PromptTemplateVersionListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_list_prompt_templates(self, project_id, **kwargs):  # noqa: E501
        """List prompt templates  # noqa: E501

         Retrieve all prompt templates in a project. Use to discover available templates or build template management UIs.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_prompt_templates(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object page:
        :param object page_size:
        :return: PromptTemplateListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_list_prompt_templates_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_list_prompt_templates_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def get_list_prompt_templates_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """List prompt templates  # noqa: E501

         Retrieve all prompt templates in a project. Use to discover available templates or build template management UIs.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_list_prompt_templates_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object page:
        :param object page_size:
        :return: PromptTemplateListResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'page', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_list_prompt_templates" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_list_prompt_templates`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PromptTemplateListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patch_update_prompt_template(self, project_id, template_id, **kwargs):  # noqa: E501
        """Update prompt template  # noqa: E501

         Rename a prompt template. Use when refactoring template names across your codebase.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_update_prompt_template(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param UpdatePromptTemplateRequest body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patch_update_prompt_template_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patch_update_prompt_template_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
            return data

    def patch_update_prompt_template_with_http_info(self, project_id, template_id, **kwargs):  # noqa: E501
        """Update prompt template  # noqa: E501

         Rename a prompt template. Use when refactoring template names across your codebase.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patch_update_prompt_template_with_http_info(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param UpdatePromptTemplateRequest body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patch_update_prompt_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `patch_update_prompt_template`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `patch_update_prompt_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_create_prompt_template(self, project_id, **kwargs):  # noqa: E501
        """Create prompt template  # noqa: E501

         Create a new prompt template without any versions. Use when you need to reserve a template name before adding versions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_prompt_template(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param CreatePromptTemplateRequest body:
        :return: CreatePromptTemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_create_prompt_template_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_create_prompt_template_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def post_create_prompt_template_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """Create prompt template  # noqa: E501

         Create a new prompt template without any versions. Use when you need to reserve a template name before adding versions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_prompt_template_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param CreatePromptTemplateRequest body:
        :return: CreatePromptTemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_create_prompt_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_create_prompt_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreatePromptTemplateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_create_template_version_by_id(self, project_id, template_id, **kwargs):  # noqa: E501
        """Create prompt template version by ID  # noqa: E501

         Create a new version of an existing prompt template. Freeplay assigns a random ID. Use when you have the template ID from a previous API call.  **Version Creation Semantics:**  A new version is created only if there is no existing version with identical: - Content (prompt messages) - Model - LLM parameters - Version name (if provided) - Version description - Tool schema - Output schema  If an identical version exists in any of the target environments, that version is reused and its environments are updated to match the requested environments. This ensures you never create duplicate versions with the same configuration.  **Environment Deployment:**  - When creating a new version, it will be deployed to the specified environments (or \"latest\" if none specified) - When reuploading an existing prompt template with a new environment, the environments on that prompt template version will be updated  These checks are performed so that you can safely upload prompt templates without worrying that you will be creating duplicate versions. This is especially useful in development workflows where your prompts are stored in code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_template_version_by_id(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param CreateTemplateVersionRequest body:
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_create_template_version_by_id_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_create_template_version_by_id_with_http_info(project_id, template_id, **kwargs)  # noqa: E501
            return data

    def post_create_template_version_by_id_with_http_info(self, project_id, template_id, **kwargs):  # noqa: E501
        """Create prompt template version by ID  # noqa: E501

         Create a new version of an existing prompt template. Freeplay assigns a random ID. Use when you have the template ID from a previous API call.  **Version Creation Semantics:**  A new version is created only if there is no existing version with identical: - Content (prompt messages) - Model - LLM parameters - Version name (if provided) - Version description - Tool schema - Output schema  If an identical version exists in any of the target environments, that version is reused and its environments are updated to match the requested environments. This ensures you never create duplicate versions with the same configuration.  **Environment Deployment:**  - When creating a new version, it will be deployed to the specified environments (or \"latest\" if none specified) - When reuploading an existing prompt template with a new environment, the environments on that prompt template version will be updated  These checks are performed so that you can safely upload prompt templates without worrying that you will be creating duplicate versions. This is especially useful in development workflows where your prompts are stored in code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_template_version_by_id_with_http_info(project_id, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param CreateTemplateVersionRequest body:
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_create_template_version_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_create_template_version_by_id`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `post_create_template_version_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}/versions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlainPromptTemplate1',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_create_template_version_by_name(self, project_id, template_name, **kwargs):  # noqa: E501
        """Create prompt template version by name  # noqa: E501

         Create a new version of a prompt template, referenced by a string or name you define. [See SDK method.](https://docs.freeplay.ai/freeplay-sdk/prompts)  Set `create_template_if_not_exists=true` to auto-create the template if it doesn't exist.  **Version Creation Semantics:**  A new version is created only if there is no existing version with identical: - Content (prompt messages) - Model - LLM parameters - Version name (if provided) - Version description - Tool schema - Output schema  If an identical version exists in any of the target environments, that version is reused and its environments are updated to match the requested environments. This ensures you never create duplicate versions with the same configuration.  **Environment Deployment:**  - When creating a new version, it will be deployed to the specified environments (or \"latest\" if none specified) - When reuploading an existing prompt template with a new environment, the environments on that prompt template version will be updated  These checks are performed so that you can safely upload prompt templates without worrying that you will be creating duplicate versions. This is especially useful in development workflows where your prompts are stored in code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_template_version_by_name(project_id, template_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_name: (required)
        :param CreateTemplateVersionRequest1 body:
        :param object create_template_if_not_exists:
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_create_template_version_by_name_with_http_info(project_id, template_name, **kwargs)  # noqa: E501
        else:
            (data) = self.post_create_template_version_by_name_with_http_info(project_id, template_name, **kwargs)  # noqa: E501
            return data

    def post_create_template_version_by_name_with_http_info(self, project_id, template_name, **kwargs):  # noqa: E501
        """Create prompt template version by name  # noqa: E501

         Create a new version of a prompt template, referenced by a string or name you define. [See SDK method.](https://docs.freeplay.ai/freeplay-sdk/prompts)  Set `create_template_if_not_exists=true` to auto-create the template if it doesn't exist.  **Version Creation Semantics:**  A new version is created only if there is no existing version with identical: - Content (prompt messages) - Model - LLM parameters - Version name (if provided) - Version description - Tool schema - Output schema  If an identical version exists in any of the target environments, that version is reused and its environments are updated to match the requested environments. This ensures you never create duplicate versions with the same configuration.  **Environment Deployment:**  - When creating a new version, it will be deployed to the specified environments (or \"latest\" if none specified) - When reuploading an existing prompt template with a new environment, the environments on that prompt template version will be updated  These checks are performed so that you can safely upload prompt templates without worrying that you will be creating duplicate versions. This is especially useful in development workflows where your prompts are stored in code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_create_template_version_by_name_with_http_info(project_id, template_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_name: (required)
        :param CreateTemplateVersionRequest1 body:
        :param object create_template_if_not_exists:
        :return: PlainPromptTemplate1
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_name', 'body', 'create_template_if_not_exists']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_create_template_version_by_name" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_create_template_version_by_name`")  # noqa: E501
        # verify the required parameter 'template_name' is set
        if ('template_name' not in params or
                params['template_name'] is None):
            raise ValueError("Missing the required parameter `template_name` when calling `post_create_template_version_by_name`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_name' in params:
            path_params['template_name'] = params['template_name']  # noqa: E501

        query_params = []
        if 'create_template_if_not_exists' in params:
            query_params.append(('create_template_if_not_exists', params['create_template_if_not_exists']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/name/{template_name}/versions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PlainPromptTemplate1',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_get_bound_by_name_and_environment(self, project_id, name, **kwargs):  # noqa: E501
        """Get bound prompt template by name and environment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_bound_by_name_and_environment(project_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object name: (required)
        :param object body:
        :param object environment:
        :param object format:
        :param object flavor_name:
        :return: PromptTemplateVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_get_bound_by_name_and_environment_with_http_info(project_id, name, **kwargs)  # noqa: E501
        else:
            (data) = self.post_get_bound_by_name_and_environment_with_http_info(project_id, name, **kwargs)  # noqa: E501
            return data

    def post_get_bound_by_name_and_environment_with_http_info(self, project_id, name, **kwargs):  # noqa: E501
        """Get bound prompt template by name and environment  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_bound_by_name_and_environment_with_http_info(project_id, name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object name: (required)
        :param object body:
        :param object environment:
        :param object format:
        :param object flavor_name:
        :return: PromptTemplateVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'name', 'body', 'environment', 'format', 'flavor_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_get_bound_by_name_and_environment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_get_bound_by_name_and_environment`")  # noqa: E501
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `post_get_bound_by_name_and_environment`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'flavor_name' in params:
            query_params.append(('flavor_name', params['flavor_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/name/{name}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PromptTemplateVersion',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_get_bound_by_template_version_id(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Get bound prompt template version by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_bound_by_template_version_id(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :param object body:
        :param object environment:
        :param object format:
        :param object flavor_name:
        :return: PromptTemplateVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_get_bound_by_template_version_id_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_get_bound_by_template_version_id_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
            return data

    def post_get_bound_by_template_version_id_with_http_info(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Get bound prompt template version by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_bound_by_template_version_id_with_http_info(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :param object body:
        :param object environment:
        :param object format:
        :param object flavor_name:
        :return: PromptTemplateVersion
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'version_id', 'body', 'environment', 'format', 'flavor_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_get_bound_by_template_version_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_get_bound_by_template_version_id`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `post_get_bound_by_template_version_id`")  # noqa: E501
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params or
                params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `post_get_bound_by_template_version_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501
        if 'version_id' in params:
            path_params['version_id'] = params['version_id']  # noqa: E501

        query_params = []
        if 'environment' in params:
            query_params.append(('environment', params['environment']))  # noqa: E501
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'flavor_name' in params:
            query_params.append(('flavor_name', params['flavor_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}/versions/{version_id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PromptTemplateVersion',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_update_template_version_environments(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Update environment for prompt template version  # noqa: E501

         Deploy a prompt version to one or more environments. Use to promote versions through dev, staging, and production.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_update_template_version_environments(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :param UpdateTemplateVersionEnvironmentsRequest body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_update_template_version_environments_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_update_template_version_environments_with_http_info(project_id, template_id, version_id, **kwargs)  # noqa: E501
            return data

    def post_update_template_version_environments_with_http_info(self, project_id, template_id, version_id, **kwargs):  # noqa: E501
        """Update environment for prompt template version  # noqa: E501

         Deploy a prompt version to one or more environments. Use to promote versions through dev, staging, and production.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_update_template_version_environments_with_http_info(project_id, template_id, version_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object template_id: (required)
        :param object version_id: (required)
        :param UpdateTemplateVersionEnvironmentsRequest body:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'template_id', 'version_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_update_template_version_environments" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_update_template_version_environments`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `post_update_template_version_environments`")  # noqa: E501
        # verify the required parameter 'version_id' is set
        if ('version_id' not in params or
                params['version_id'] is None):
            raise ValueError("Missing the required parameter `version_id` when calling `post_update_template_version_environments`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'template_id' in params:
            path_params['template_id'] = params['template_id']  # noqa: E501
        if 'version_id' in params:
            path_params['version_id'] = params['version_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/prompt-templates/id/{template_id}/versions/{version_id}/environments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
