# coding: utf-8

"""
    Freeplay API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from freeplay_mcp.vendor.swagger_client.api_client import ApiClient


class SearchAnalyticsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_get_sessions_filtered(self, project_id, **kwargs):  # noqa: E501
        """List Sessions  # noqa: E501

         Retrieve sessions with their completions, ordered by most recent first. Use to display conversation history or analyze LLM usage patterns. Traces are referenced by ID but not expanded.  Filter by custom metadata using query parameters prefixed with `custom_metadata.` (e.g., `custom_metadata.user_id=123`).  Prefer using the `/search/sessions` endpoint for more advanced filtering.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_sessions_filtered(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object page:
        :param object page_size:
        :param object to_date:
        :param object from_date:
        :param object test_list:
        :param object test_run_id:
        :param object prompt_name:
        :param object review_queue_id:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_get_sessions_filtered_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_get_sessions_filtered_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def get_get_sessions_filtered_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """List Sessions  # noqa: E501

         Retrieve sessions with their completions, ordered by most recent first. Use to display conversation history or analyze LLM usage patterns. Traces are referenced by ID but not expanded.  Filter by custom metadata using query parameters prefixed with `custom_metadata.` (e.g., `custom_metadata.user_id=123`).  Prefer using the `/search/sessions` endpoint for more advanced filtering.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_get_sessions_filtered_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object page:
        :param object page_size:
        :param object to_date:
        :param object from_date:
        :param object test_list:
        :param object test_run_id:
        :param object prompt_name:
        :param object review_queue_id:
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'page', 'page_size', 'to_date', 'from_date', 'test_list', 'test_run_id', 'prompt_name', 'review_queue_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_get_sessions_filtered" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `get_get_sessions_filtered`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'to_date' in params:
            query_params.append(('to_date', params['to_date']))  # noqa: E501
        if 'from_date' in params:
            query_params.append(('from_date', params['from_date']))  # noqa: E501
        if 'test_list' in params:
            query_params.append(('test_list', params['test_list']))  # noqa: E501
        if 'test_run_id' in params:
            query_params.append(('test_run_id', params['test_run_id']))  # noqa: E501
        if 'prompt_name' in params:
            query_params.append(('prompt_name', params['prompt_name']))  # noqa: E501
        if 'review_queue_id' in params:
            query_params.append(('review_queue_id', params['review_queue_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/sessions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_get_all_completion_summaries(self, project_id, **kwargs):  # noqa: E501
        """Get All Completion Statistics  # noqa: E501

         Retrieve aggregate evaluation statistics across all prompts for a date range. Use for dashboard metrics or trend analysis.  Maximum date range is 30 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_all_completion_summaries(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param GetCompletionSummaryInfo body:
        :return: CompletionSummaryStatsInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_get_all_completion_summaries_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_get_all_completion_summaries_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def post_get_all_completion_summaries_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """Get All Completion Statistics  # noqa: E501

         Retrieve aggregate evaluation statistics across all prompts for a date range. Use for dashboard metrics or trend analysis.  Maximum date range is 30 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_all_completion_summaries_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param GetCompletionSummaryInfo body:
        :return: CompletionSummaryStatsInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_get_all_completion_summaries" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_get_all_completion_summaries`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/completions/statistics', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CompletionSummaryStatsInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_get_completion_summary(self, project_id, prompt_template_id, **kwargs):  # noqa: E501
        """Get Completion Statistics  # noqa: E501

         Retrieve evaluation statistics for a specific prompt template. Use to track quality metrics for individual prompts.  Maximum date range is 30 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_completion_summary(project_id, prompt_template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object prompt_template_id: (required)
        :param GetCompletionSummaryInfo1 body:
        :return: CompletionSummaryStatsInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_get_completion_summary_with_http_info(project_id, prompt_template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_get_completion_summary_with_http_info(project_id, prompt_template_id, **kwargs)  # noqa: E501
            return data

    def post_get_completion_summary_with_http_info(self, project_id, prompt_template_id, **kwargs):  # noqa: E501
        """Get Completion Statistics  # noqa: E501

         Retrieve evaluation statistics for a specific prompt template. Use to track quality metrics for individual prompts.  Maximum date range is 30 days.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_get_completion_summary_with_http_info(project_id, prompt_template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param object prompt_template_id: (required)
        :param GetCompletionSummaryInfo1 body:
        :return: CompletionSummaryStatsInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'prompt_template_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_get_completion_summary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_get_completion_summary`")  # noqa: E501
        # verify the required parameter 'prompt_template_id' is set
        if ('prompt_template_id' not in params or
                params['prompt_template_id'] is None):
            raise ValueError("Missing the required parameter `prompt_template_id` when calling `post_get_completion_summary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501
        if 'prompt_template_id' in params:
            path_params['prompt_template_id'] = params['prompt_template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/completions/statistics/{prompt_template_id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CompletionSummaryStatsInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_search_completions(self, project_id, **kwargs):  # noqa: E501
        """Search Completions  # noqa: E501

         Query LLM completions using advanced filters. Use to find specific prompts and responses, filter by evaluation results or metadata, prompt templates, latency, and more.  Supports pagination and optional inclusion of all child traces and completions within the session, using the `include_children` parameter.  For filter operators and examples, see: https://docs.freeplay.ai/openapi/search-api-operators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_search_completions(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param SearchRequest body:
        :param object page:
        :param object page_size:
        :param object include_children:
        :return: CompletionSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_search_completions_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_search_completions_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def post_search_completions_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """Search Completions  # noqa: E501

         Query LLM completions using advanced filters. Use to find specific prompts and responses, filter by evaluation results or metadata, prompt templates, latency, and more.  Supports pagination and optional inclusion of all child traces and completions within the session, using the `include_children` parameter.  For filter operators and examples, see: https://docs.freeplay.ai/openapi/search-api-operators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_search_completions_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param SearchRequest body:
        :param object page:
        :param object page_size:
        :param object include_children:
        :return: CompletionSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'body', 'page', 'page_size', 'include_children']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_search_completions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_search_completions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'include_children' in params:
            query_params.append(('include_children', params['include_children']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/search/completions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CompletionSearchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_search_sessions(self, project_id, **kwargs):  # noqa: E501
        """Search Sessions  # noqa: E501

         Query sessions using advanced filters. Use to find specific conversations or filter by metadata.  Supports pagination and optional inclusion of all traces and completions within the session, using the `include_children` parameter.  For filter operators and examples, see: https://docs.freeplay.ai/openapi/search-api-operators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_search_sessions(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param SearchRequest1 body:
        :param object page:
        :param object page_size:
        :param object include_children:
        :return: SessionSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_search_sessions_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_search_sessions_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def post_search_sessions_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """Search Sessions  # noqa: E501

         Query sessions using advanced filters. Use to find specific conversations or filter by metadata.  Supports pagination and optional inclusion of all traces and completions within the session, using the `include_children` parameter.  For filter operators and examples, see: https://docs.freeplay.ai/openapi/search-api-operators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_search_sessions_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param SearchRequest1 body:
        :param object page:
        :param object page_size:
        :param object include_children:
        :return: SessionSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'body', 'page', 'page_size', 'include_children']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_search_sessions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_search_sessions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'include_children' in params:
            query_params.append(('include_children', params['include_children']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/search/sessions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SessionSearchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_search_traces(self, project_id, **kwargs):  # noqa: E501
        """Search Traces  # noqa: E501

         Query traces using advanced filters. Use to find specific trace executions, filter by metadata, or analyze trace patterns.  Supports pagination and optional inclusion of all child traces and completions within the session, using the `include_children` parameter.  For filter operators and examples, see: https://docs.freeplay.ai/openapi/search-api-operators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_search_traces(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param SearchRequest1 body:
        :param object page:
        :param object page_size:
        :param object include_children:
        :return: TraceSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_search_traces_with_http_info(project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_search_traces_with_http_info(project_id, **kwargs)  # noqa: E501
            return data

    def post_search_traces_with_http_info(self, project_id, **kwargs):  # noqa: E501
        """Search Traces  # noqa: E501

         Query traces using advanced filters. Use to find specific trace executions, filter by metadata, or analyze trace patterns.  Supports pagination and optional inclusion of all child traces and completions within the session, using the `include_children` parameter.  For filter operators and examples, see: https://docs.freeplay.ai/openapi/search-api-operators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_search_traces_with_http_info(project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object project_id: (required)
        :param SearchRequest1 body:
        :param object page:
        :param object page_size:
        :param object include_children:
        :return: TraceSearchResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'body', 'page', 'page_size', 'include_children']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_search_traces" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `post_search_traces`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project_id'] = params['project_id']  # noqa: E501

        query_params = []
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501
        if 'include_children' in params:
            query_params.append(('include_children', params['include_children']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/projects/{project_id}/search/traces', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TraceSearchResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
